* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}


/* Home Section */

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../image/background.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: #ef0454;
}

.navlist {
  display: flex;
}

.navlist li {
  position: relative;
}

.navlist a {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.navlist a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #ef0454;
  left: 0;
  bottom: -4px;
  transition: ease .40s;
}

.navlist a:hover::after {
  width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #ef0454;
  outline: none;
  border-radius: 30px;
}

.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #ef0454;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px;
  top: 6px;
  right: 6px;
}

/* About Section Start */

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #101010;
}

.about img {
  height: auto;
  width: 430px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.button {
  background-color: #ef0454;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #ef0454;
}

/* Service Section Start */
.service {
  background: #191919;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #101010;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: .4s;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
}

.card:hover {
  transform: scale(1.01) translateY(5px);
  border-top: 5px solid #ef0454;
}

.card:hover h5 {
  color: #ef0454;
}

/* Portofolio Section Start */

  .portofolio {
    background: #101010;
    padding: 100px 0;
    width: 100%;
  }

  .prt-title h2 {
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
  }

  .crd {
    display: flex;
    justify-content: center;
  }

  .prt-card {
    background: #191919;
    width: 365px;
    margin: 15px;
    border-radius: 15px;
    transition: .4s;
  }

  .prt-card-img {
    background-color: #ef0454;
    height: 256px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }

  .img-1 {
    background-image: url(../image/1.jpg);
  }

  .img-2 {
    background-image: url(../image/2.jpg);
  }

  .img-3 {
    background-image: url(../image/3.jpg);
  }

  .prt-card h2 {
    padding: 10px;
    color: white;
    text-align: center;
  }

  .prt-card p {
    padding: 15px;
    text-align: center;
    color: #fcfc;
  }

  .prt-card a {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 9px 22px;
    border-radius: 400px;
    transition: .4s;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 90px;
  }

  .prt-card a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
  }

  .prt-card:hover {
    transform: scale(1.01) translateY(5px);
    border-top: 5px solid #ef0454;
  }

  .prt-card:hover h2 {
    color: #ef0454;
  }

/* Contact Me Section Start */

.contact-me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: #ef0454;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #ef0454;
}

/* Footer Section Start */

footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ef0454;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover {
  transform: scale(1.3);
  transition: .3s;
}

.end {
  position: absolute;
  color: #ef0454;
  bottom: 35px;
  font-size: 14px;
}